.box {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
    h2 {
        font-weight: 700;
        font-size: 36px;
        text-transform: uppercase;
    }
   
}