.col-5 {
     
    font-style: normal;
    padding-top: 64px;
    padding-bottom: 64px;
    h2{
        font-weight: 700;
        font-size: 36px;
        line-height: 49px;
        text-transform: uppercase;
        color:  #74FFC8;
    }
    p{
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
    }
}

.col-7 {
     
    font-style: normal;
    padding-top: 154px;
    padding-bottom: 116px;
    padding-left: 239px;
    p {
         
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
        padding-top: 24px;
    }
}


.col-3{
    h3 {
       // width: 97px;
       // height: 16px;   
         
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 16px;
        color: #2D54DE;
    }
    a{
         
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #707070;
        text-decoration: none;
    }
 
}

.col-2 {
    h3 {      
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 16px;
        color: #2D54DE;
    }
    a{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #707070;
        text-decoration: none;
    }
}